<h1 style="text-align:center"> Drexel University </h1>
<h2 style = "text-align:center"> College of Computing and Informatics</h2>
<h2 style = "text-align:center">INFO 212: Data Science Programming I</h2>
<h3 style = "text-align:center">Assignment 3</h3>
<div style="text-align:center; border-style:solid; padding: 10px">
<div style="font-weight:bold">Due Date: Sunday, May 17, 2020</div>
This assignment counts for 15% of the final grade
</div>

<h3 style="color:red; font-weight:bold; text-decoration: underline">DON'T FORGET TO PUT YOUR NAME BELOW</h3>

### NAME: Prakhar Saxena


### A. Assignment Overview
This assignment provides the opportunity for you to practice with the capabilities of handling with external data in Python. 

### B. What to Hand In
	
Sumbit a completed this Jupyter notebook. 

### C. How to Hand In

Submit your Jupyter notebook file through the course website in the Blackboard Learn system.

### D. When to Hand In

1. Submit your assignment no later than 11:59pm in the due date.
2. There will be a 10% (absolute value) deduction for each day of lateness, to a maximum of 3 days; assignments will not be accepted beyond that point. Missing work will earn a zero grade.

### E. Written Presentation Requirements (if applicable)
Images must be clear and legible. Assignments will be judged on the basis of visual appearance, grammatical correctness, and quality of writing, as well as their contents. Please make sure that the text of your assignments is well-structured, using paragraphs, full sentences, and other features of well-written presentation. Text font size should be either 11 or 12 points.

### F. Marking Schemes:

Marking assignments will be based on several aspects: presentation, correctness and coding styles. 

For programming questions, 10% of the mark will be judged on the coding style. 

The following is a set of guidelines for the coding style in this course:
1. Write good comments. 
2. Be consistent on naming conventions.  
3. Put a blank space before and after every operator. 
4. When breaking up a long line, break it before an operator, not after. 


### G. Data Sets

This assignment needs the data sets specified in the questions. 

### H. Answer the following questions

#### Question 1:

Wikipedia has a Webpage: [List of countries by past and future population](https://en.wikipedia.org/wiki/List_of_countries_by_past_and_future_population). On this page, there are three tables containing the estimated populations from 1950 to 2050 for all the countries. Read the description on the Webpage to understand the information in the tables. Complete the steps below.
- Download the Webpage as an HTML file in your disk. 
- Read in the tables using Pandas' `read_html` method. Answer the following question:
 * How many tables have you read in?
- Show the first 5 rows of the DataFrame correpsonding to the table "Estimates between the years 1950 and 1980 (in thousands)"
- How many countries does the Wikipedia page list their populations?
- Create a DataFrame containing all the data from the population tables. I.e., the DataFrame contains the popultation and average annual growth data from 1950-2050. You need to combine the three population tables. 
- For the top 10 most populous countries at 1950, plot their population data from 1950-2050 (in 5-year interval). The plot should use years 1950-2050 as x axis, and population numbers as y axis. The following figure shows the expected result.
![](https://i.imgur.com/6W9RuZO.png)
- For the same top 10 most populous contries at 1950, plot the average annual growth for each previous five-year period starting from 1955 to 2050 in 5-year interval. The following figure shows the expected result. 
![](https://i.imgur.com/ImXjIo0.png)

In [1]:
import pandas as pd

In [2]:
wiki = pd.read_html('List of countries by past and estimated future population - Wikipedia.html')
print(type(wiki))
wiki

<class 'list'>

[    Country (or dependent territory)     1950     1955      %     1960    %.1  \
 0                        Afghanistan     8151     8892   1.76     9830   2.03
 1                            Albania     1228     1393   2.56     1624   3.12
 2                            Algeria     8893     9842   2.05    10910   2.08
 3                     American Samoa       20       20   0.72       21   0.20
 4                            Andorra        7        7   0.04        9   6.28
 ..                               ...      ...      ...    ...      ...    ...
 223                   Western Sahara       10       16  11.87       28  11.87
 224                            Yemen     4778     5266   1.97     5872   2.20
 225                           Zambia     2554     2870   2.36     3255   2.55
 226                         Zimbabwe     2854     3410   3.62     4011   3.31
 227                            World  2557629  2782099   1.70  3043002   1.81

         1965    %.2     1970    %.3     1975   %.4     1980    %.5
 0      10998   2.27    12431   2.48    14133  2.60    15045   1.26
 1       1884   3.02     2157   2.74     2402  2.17     2672   2.16
 2      11964   1.86    13932   3.09    16141  2.99    18807   3.10
 3         25   4.23       28   2.08       30  1.68       33   1.81
 4         14  10.17       20   7.49       27  6.32       34   4.81
 ..       ...    ...      ...    ...      ...   ...      ...    ...
 223       50  12.33       90  12.38       73 -4.16      125  11.47
 224     6511   2.09     7099   1.74     7935  2.25     9133   2.85
 225     3695   2.57     4241   2.80     4849  2.71     5541   2.71
 226     4686   3.16     5515   3.31     6342  2.83     7170   2.49
 227  3350426   1.94  3712698   2.07  4089084  1.95  4451363   1.71

 [228 rows x 14 columns],
     Country (or dependent territory)     1985     %     1990   %.1     1995  \
 0                        Afghanistan    13120 -2.70    13569  0.67    19446
 1                            Albania     2957  2.05     3245  1.88     3159
 2                            Algeria    22009  3.19    25191  2.74    28322
 3                     American Samoa       39  3.57       48  4.09       54
 4                            Andorra       45  5.84       53  3.41       64
 ..                               ...      ...   ...      ...   ...      ...
 223                   Western Sahara      180  7.65      218  3.92      264
 224                            Yemen    10540  2.91    12417  3.33    14832
 225                           Zambia     6536  3.36     7604  3.07     8691
 226                         Zimbabwe     8561  3.61    10157  3.48    11160
 227                            World  4856463  1.76  5288956  1.72  5699203

       %.2     2000   %.3     2005   %.4     2010   %.5     2015   %.6
 0    7.46    22462  2.93    26335  3.23    29121  2.03    32565  2.26
 1   -0.54     3159  0.00     3025 -0.86     2987 -0.25     3030  0.28
 2    2.37    30639  1.58    32918  1.45    35950  1.78    39543  1.92
 3    2.69       58  1.39       57 -0.28       56 -0.53       55 -0.41
 4    3.70       66  0.58       77  3.18       85  2.12       86  0.25
 ..    ...      ...   ...      ...   ...      ...   ...      ...   ...
 223  3.95      337  4.97      416  4.32      492  3.42      571  3.04
 224  3.62    17236  3.05    20003  3.02    23210  3.02    26738  2.87
 225  2.71     9984  2.81    11373  2.64    13042  2.78    15067  2.93
 226  1.90    11821  1.16    11640 -0.31    11652  0.02    14230  4.08
 227  1.51  6088572  1.33  6473045  1.23  6866333  1.19  7256491  1.11

 [228 rows x 15 columns],
     Country (or dependent territory)     2020     %     2025   %.1     2030  \
 0                        Afghanistan    36644  2.39    41118  2.33    45665
 1                            Albania     3075  0.30     3105  0.20     3103
 2                            Algeria    42973  1.68    45842  1.30    48149
 3                     American Samoa       54 -0.21       54 -0.17       53
 4                            Andorra       86  0.01       86 -0.12       85
 ..                               ...      ...   ...      ...   ...      ...
 223                   Western Sahara      653  2.70      736  2.44      822
 224                            Yemen    29885  2.25    32823  1.89    35660
 225                           Zambia    17427  2.95    20105  2.90    23137
 226                         Zimbabwe    15832  2.16    17371  1.87    18820
 227                            World  7643403  1.04  8006581  0.93  8340607

       %.2     2035   %.3     2040   %.4     2045   %.5     2050   %.6
 0    2.12    50195  1.91    54717  1.74    59256  1.61    63796  1.49
 1   -0.01     3063 -0.26     2994 -0.45     2913 -0.55     2825 -0.61
 2    0.99    50118  0.80    52030  0.75    53894  0.71    55445  0.57
 3   -0.32       52 -0.45       51 -0.45       50 -0.29       50 -0.06
 4   -0.21       83 -0.30       82 -0.46       79 -0.69       75 -0.93
 ..    ...      ...   ...      ...   ...      ...   ...      ...   ...
 223  2.23      909  2.04      998  1.87     1086  1.71     1174  1.57
 224  1.67    38437  1.51    41142  1.37    43710  1.22    46081  1.06
 225  2.85    26546  2.79    30339  2.71    34497  2.60    38993  2.48
 226  1.62    20282  1.51    21840  1.49    23492  1.47    25199  1.41
 227  0.82  8646305  0.72  8925950  0.64  9180226  0.56  9408142  0.49

 [228 rows x 15 columns],
    hidevteLists of countries by population statistics  \
 0                                              Global
 1                               Continents/subregions
 2                                    Intercontinental
 3                                  Cities/urban areas
 4                                     Past and future
 5                                  Population density
 6                                   Growth indicators
 7                                  Other demographics
 8                                              Health
 9                            Education and innovation
 10                                           Economic
 11  List of international rankings List of top int...

    hidevteLists of countries by population statistics.1
 0        Current population Demographics of the world
 1   Africa Antarctica Asia Europe North America Ca...
 2   Americas Arab world Commonwealth of Nations Eu...
 3   World cities National capitals Megacities Mega...
 4   Past and future population World population es...
 5   Current density Past and future population den...
 6   Population growth rate Natural increase Birth ...
 7   Age at first marriage Age structure Dependency...
 8   Antidepressant consumption Antiviral medicatio...
 9   Bloomberg Innovation Index Education Index Int...
 10  Access to financial services Development aid g...
 11  List of international rankings List of top int...    ]

In [7]:
len(wiki)

4

In [10]:
wiki[0].head()

,Country (or dependent territory),1950,1955,%,1960,%.1,1965,%.2,1970,%.3,1975,%.4,1980,%.5
0,Afghanistan,8151,8892,1.76,9830,2.03,10998,2.27,12431,2.48,14133,2.60,15045,1.26
1,Albania,1228,1393,2.56,1624,3.12,1884,3.02,2157,2.74,2402,2.17,2672,2.16
2,Algeria,8893,9842,2.05,10910,2.08,11964,1.86,13932,3.09,16141,2.99,18807,3.10
3,American Samoa,20,20,0.72,21,0.20,25,4.23,28,2.08,30,1.68,33,1.81
4,Andorra,7,7,0.04,9,6.28,14,10.17,20,7.49,27,6.32,34,4.81

#### Question 2:
The file `nobelprize-laureate.json` is a JSON file containing the information about Nobel Prize laureates. Create a Pandas DataFrame from the JSON file and complete the following steps:
- Answer the question: How many unique countries are listed in this dataset as the Nobel Prize laureates's birth countries?
- Plot the top-20 birth countries in a bar chart showing the country names and the number of laureats born in the countries.
- Starting from 1901 to the latest year in the dataset, extract the birth countries of the laureates at each year. Plot a bar chart showing the number of unique birth countries of the laureates over the years.
![](https://i.imgur.com/1i84fS5.png)